html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0px;
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    h2 {
        font-size: 15px;
        text-align: center;
        padding: 12px 20px;
        background-color: white;
        font-weight: 100;
    }
}



.corpo {
    display: grid;
    grid-template-columns: 450px 450px;
    padding: 20px 20px 60px 20px;
    justify-content: center;
    margin-top: 20px;
    
}

.parte1 {
    width: 100%;
    text-align: right;
    font-size: 20px;
    background-color: white;
    #botaoCompra {
        color: white;
        background-color: #ee2211;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 15px;
    }
    
    h2 {
        padding: 40px 15px 0px 0px;
    }
    
    p {
        padding: 10px 15px 10px 10px;
    }
}

.parte2 img{
    max-width: 100%;
    width: 100%
}

.parte3 {
    padding: 60px 15px;
    text-align: right;
    font-size: 38px;
    color: #c6c6c6;
}

.parte4 {
    background-color: white;
        margin: 0px;
        padding: 45px 50px 0px 50px;
        h3, p {
            margin: 0px;
        }
        h3 {
            
        }
        p {
            padding: 0px 20px 25px 40px;
        }  
        #eletrica {
            display: flex;
            gap: 15px;
            padding-bottom: 10px;
        }
        
        #velocimetro {
            display: flex;
            gap: 15px;
            padding-bottom: 10px;
        }
        
        #rastreador {
            display: flex;
            gap: 15px;
            padding-bottom: 10px;
        }
}

span {
    display: grid;
    justify-content: center;
    position: relative;
    top: -700px;
    p {
        font-size: 1px;
    border: 3px solid #ee2211;
    background: #ee2211;
    color: #ee2211;
    width: 50px;
    
    }
}

footer {
    text-align: center;
    background-color: white;
    padding: 20px 0px 10px 0px;
    font-size: 20px;
}

